<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>PRIVACY</title>

  <!-- Bootstrap -->
  <link href="/src/app/template/css/bootstrap.css" rel="stylesheet">

  <!-- Links -->
  <link rel="stylesheet" href="/src/app/template/css/search.css">

  <!--JS-->
  <script src="/src/app/template/js/jquery.js"></script>
  <script src="/src/app/template/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/src/app/template/js/rd-smoothscroll.min.js"></script>


  <!--[if lt IE 9]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
  <script src='/src/app/template/js/device.min.js'></script>
</head>

<body>
  <div class="navbar navbar-dark bg-primary">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li>
        <h1>
          <a href="/home" style="color:white"><small></small></a>
        </h1>
      </li>

    </ul>
    <div class="contenedor-buscador d-blok bg-red">



      <div class="nav-item mr-4" style="float: left">
        <span style="color:white">Telefono: </span>
        <br>
        <h3><a href="callto:#" style="color:white"></a></h3>
      </div>

      <div class="nav-item mr-4" style="float: left">
        <small>
          <span style="color:white">Horario: </span>
          <br>
          <h3><span style="color:white"></span></h3>
        </small>
      </div>

      <form (ngSubmit)="buscar(buscador)" #buscador="ngForm" class="mt-3" style="float: left">
        <input type="text" name="termino" ngModel>
        <button class="btn btn-light ml-2" type="submit">Buscar</button>
      </form>

    </div>
  </div>
  <div id="row" class="container mt-3 col-lg-10">
    <div class="col">
      <button class="btn btn-success float-right mb-3" data-toggle="modal" data-target="#modalEmpresa">Nueva
        Empresa</button>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scome="col">#</th>
            <th scome="col">Denominacion</th>
            <th scome="col">Domicilio</th>
            <th scome="col">Email</th>
            <th scome="col">Horario de atencion</th>
            <th scome="col">Latitud</th>
            <th scome="col">Longitud</th>
            <th scome="col">Quienes somos</th>
            <th scome="col">Telefono</th>
            <th scome="col">&nbsp;</th>
            <th scome="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empresa of empresas; index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{empresa.denominacion}}</td>
            <!--Denominacion-->
            <td>{{empresa.domicilio}}</td>
            <!--domicilio-->
            <td>{{empresa.email}}</td>
            <!--Email-->
            <td>{{empresa.horarioDeAtencion}}</td>
            <!--Horario de atencion-->
            <td>{{empresa.latitud}}</td>
            <!--Latitud-->
            <td>{{empresa.longitud}}</td>
            <!--Longitud-->
            <td>{{empresa.quienesSomos}}</td>
            <!--Quienes somos-->
            <td>{{empresa.telefono}}</td>
            <!--Telefono-->
            <td>
              <button class="btn badge-primary" data-toggle="modal" data-target="#modalEmpresa"
                (click)="onPreUpdateEmpresa(empresa)">Update</button>
            </td>
            <td>
              <button class="btn badge-danger" (click)="onDeleteEmpresa(empresa)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
<app-empresa-modal [empresaActual]="empresaActual"></app-empresa-modal>
