<table>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
    <tr>
        <td>
            XXXXXXXX
        </td>
        <td>
            <a href="#">URL PAGINA HOME</a>
        </td>
    </tr>
</table>