<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title *ngIf="noticia.tituloDeLaNoticia != ''">{{noticia.tituloDeLaNoticia}}</title>
</head>

<body>
    <div class="container">
        <div class="navbar navbar-dark bg-primary">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li>
                    <h1>
                        <a href="#" routerLink="/home/{{noticia['empresa'].id}}" style="color:white"><small>{{noticia['empresa'].denominacion | json}}</small></a>
                    </h1>
                </li>

            </ul>
            <div class="contenedor-buscador d-blok bg-red">



                <div class="nav-item mr-4" style="float: left">
                    <span style="color:white">Telefono: </span>
                    <br>
                    <h3>
                        <a href="callto:{{noticia['empresa'].telefono}}" style="color:white">{{noticia['empresa'].telefono}} </a>
                    </h3>
                </div>

                <div class="nav-item mr-4" style="float: left">
                    <small>
                    <span style="color:white">Horario: </span>
                    <br>
                    <h3><span style="color:white">{{noticia['empresa'].horarioDeAtencion}}</span></h3>
                     </small>
                </div>

                <form (ngSubmit)="buscar(buscador)" #buscador="ngForm" class="mt-3" style="float: left">
                    <input type="text" name="termino" ngModel>
                    <button class="btn btn-light ml-2" type="submit">Buscar</button>
                </form>

            </div>
        </div>
        <div class="contenedor-imagen mt-5">
            <div class="titulo">{{noticia.tituloDeLaNoticia}}</div>
            <img [src]="noticia.imagenNoticia" alt="">
        </div>
        <h1 class="font-weight-bold">{{noticia.tituloDeLaNoticia}}</h1>
        <br>
        <div class="fecha">
            <p>Fecha: <span class="font-italic">{{noticia.fechaPublicacion}}</span></p>
        </div>
        <hr>
        <div class="resumen">
            <p><span style="font-size: 25px;">{{noticia.resumenDeLaNoticia}}</span></p>
        </div>
        <hr>
        <div class="contenido">
            <div innerHTML="{{noticia.contenidoHtml}}}"></div>
        </div>
        <hr style="border: 2px solid gray;">
        <div class="pie">
            <p>{{noticia['empresa'].denominacion}} © Privacy Policy</p>
        </div>
    </div>

</body>

</html>