<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="format-detection" content="telephone=no" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>404</title>

  <!-- Bootstrap -->
  <link href="/src/app/template/css/bootstrap.css" rel="stylesheet">

  <!-- Links -->
  <link rel="stylesheet" href="/src/app/template/css/search.css">

  <!--JS-->
  <script src="/src/app/template/js/jquery.js"></script>
  <script src="/src/app/template/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/src/app/template/js/rd-smoothscroll.min.js"></script>


  <!--[if lt IE 9]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
  <script src='/src/app/template/js/device.min.js'></script>
</head>

<body>
  <div class="page">
    <!--========================================================
                            HEADER
  =========================================================-->

    <div class="navbar navbar-dark bg-primary">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

        <li>
          <h1>
            <a data-type='rd-navbar-brand' style="color:white" class=" ml-4"><small>ERROR 404:  Page not found :c</small></a>
          </h1>
          <div class="nav-item mr-4" style="float: left">
            <a data-type='rd-navbar-brand' href="./" style="color:white" class=" ml-4"><small>Take me home!</small></a>
          </div>
        </li>

      </ul>
      <div class="contenedor-buscador d-blok bg-red">

        


        <form (ngSubmit)="buscar(buscador)" #buscador="ngForm" class="mt-3" style="float: left">
          <input type="text" name="termino" ngModel>
          <button class="btn btn-light ml-2" type="submit">Buscar</button>
        </form>

      </div>
    </div>

    <!--========================================================
                            CONTENT
  =========================================================-->

    <main>

      <section class="well well4 sect-404">
        <div class="container mt-4">
          <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
              <h1 class="display-1">
                <strong class="txt-clr-sec text-uppercase fw-heavy">
                  <span>404
                    <br>
                    page</span>
                </strong>
              </h1>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
              <p class="lead text-uppercase display-4">
                Sorry!<br />
                Page not found
              </p>
              <p>
                The page you are looking for might have been removed, had its name changed, or is temporarily
                unavailable.
                <br /><br />
                Please try using our search box below to look for information on the website.
              </p>
            </div>
          </div>
        </div>
      </section>


    </main>

    <!--========================================================
                          FOOTER
=========================================================-->
    <footer>
      <section class="well">
        <div class="container">
          <p class="rights mt-8">
            <span id="copyright-year"></span>
            <a href="index-5.html">Privacy Policy</a>
            <!-- {%FOOTER_LINK} -->
          </p>
        </div>
      </section>
    </footer>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/src/app/template/js/bootstrap.min.js"></script>
  <script src="/src/app/template/js/tm-scripts.js"></script>
  <!-- </script> -->


</body>

</html>