<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="format-detection" content="telephone=no"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>HOME</title>

  <!-- Bootstrap -->
  <link href="/src/app/template/css/bootstrap.css" rel="stylesheet">

  <!-- Links -->
  <link rel="stylesheet" href="/src/app/template/css/camera.css">
  <link rel="stylesheet" href="/src/app/template/css/search.css">
  <link rel="stylesheet" href="/src/app/template/css/google-map.css">


  <!--JS-->
  <script src="/src/app/template/js/jquery.js"></script>
  <script src="/src/app/template/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="/src/app/template/js/rd-smoothscroll.min.js"></script>


  <!--[if lt IE 9]>
  <div style=' clear: both; text-align:center; position: relative;'>
    <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
      <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
           alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
    </a>
  </div>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
  <script src='/src/app/template/js/device.min.js'></script>
</head>
<body>
<div class="page">
  <!--========================================================
                            HEADER
  =========================================================-->
  <header>
    <div class="container top-sect">
      <div class="navbar-header">
        <h1 class="navbar-brand">
          <a data-type='rd-navbar-brand'  href="./"><small>Denominación <br>Empresa</small></a>
        </h1>
        <a class="search-form_toggle" href="#"></a>
      </div>

      <div class="help-box text-right">
        <p>Telefono</p>
        <a href="callto:#">800-2345-6789</a>
        <small><span>Horario:</span>  6am-4pm PST M-Th; &nbsp;6am-3pm PST Fri</small>
      </div>
    </div>

    <div id="stuck_container" class="stuck_container">
      <div class="container">

        <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
          <label class="search-form_label">
            <input class="search-form_input" type="text" name="s" autocomplete="off" placeholder=""/>
            <span class="search-form_liveout"></span>
          </label>
          <button class="search-form_submit fa-search" type="submit"></button>
        </form>

      </div>

    </div>

  </header>

  <!--========================================================
                            CONTENT
  =========================================================-->

  <main>

    <section class="well well1 well1_ins1">
      <div class="camera_container">
        <div id="camera" class="camera_wrap">
          <div data-src="/src/app/template/images/page-1_slide1.jpg">
            <div class="camera_caption fadeIn">
              <div class="jumbotron jumbotron1">
                <em>
                  Titulo Noticia
                </em>
                <div class="wrap">
                  <p>
                    Resumen
                  </p>
                  <a href="#" class="btn-link fa-angle-right"></a>
                </div>
              </div>
            </div>
          </div> 
          <div data-src="/src/app/template/images/page-1_slide2.jpg">
            <div class="camera_caption fadeIn">
              <div class="jumbotron jumbotron2">
                <em>
                  Titulo Noticia
                </em>
                <div class="wrap">
                  <p>
                    Resumen
                  </p>
                  <a href="#" class="btn-link hov_prime fa-angle-right"></a>
                </div>
              </div>
            </div>
          </div>
          <div data-src="/src/app/template/images/page-1_slide3.jpg">
            <div class="camera_caption fadeIn">
              <div class="jumbotron">
                <em>
                  Titulo Noticia
                </em>
                <div class="wrap">
                  <p>
                    Resumen
                  </p>
                  <a href="#" class="btn-link fa-angle-right"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
      <div class="container">
        <h2 class="txt-pr">
          Quienes Somos
        </h2>
        <div class="row">
          <div class="col">
            <p style="text-align:justify">
              Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt. Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!--========================================================
                          FOOTER
=========================================================-->
  <footer class="top-border">
    <section class="well well2 wow fadeIn  bg1" data-wow-duration='3s'>
      <div class="container">
        <h2 class="txt-pr">
          Donde estamos
        </h2>
      </div>
    </section>
    <div class="map">
      <div id="google-map" class="map_model" data-zoom="11"></div>
      <ul class="map_locations">
        <li data-x="-73.9874068" data-y="40.643180" data-basic="/src/app/template/images/gmap_marker.png" data-active="/src/app/template/images/gmap_marker_active.png">
          <div class="location">
            <h3 class="txt-clr1" style="color:black">
              <small>
                Denominación Empresa
              </small>
            </h3>
            <address>
              <dl>
                <dt>Telefono: </dt>
                <dd class="phone" style="color:black"><a href="callto:#"> 800-2345-6789</a></dd>
              </dl>
              <dl>
                <dt>Domicilio: </dt>
                <dd style="color:black"> 4578 Marmora Road,Glasgow D04 89GR</dd>
              </dl>
              <dl>
                <dt> E-mail: </dt>
                <dd style="color:black"><a href="mailto:#">info@demolink.org</a></dd>
              </dl>
            </address>

          </div>
        </li>
      </ul>
    </div>

    <section class="well1">
      <div class="container">
        <p class="rights">
          Denominación Empresa  &#169; <span id="copyright-year"></span>
          <a href="index-5.html">Privacy Policy</a>
          <!-- {%FOOTER_LINK} -->
        </p>
      </div>
    </section>
  </footer>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/src/app/template/js/bootstrap.min.js"></script>
<script src="/src/app/template/js/tm-scripts.js"></script>
<!-- </script> -->


</body>
</html>
