<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>{{empresa.denominacion}}</title>
</head>

<body>



    <div class="navbar navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            <li>
                <h1>
                    <a href="/home/{{empresa.id}}" style="color:white"><small>{{empresa.denominacion}}</small></a>
                </h1>
            </li>

        </ul>
        <div class="contenedor-buscador d-blok bg-red">



            <div class="nav-item mr-4" style="float: left">
                <span style="color:white">Telefono: </span>
                <br>
                <h3><a href="callto:#" style="color:white"> {{empresa.telefono}}</a></h3>
            </div>

            <div class="nav-item mr-4" style="float: left">
                <small>
                    <span style="color:white">Horario: </span>
                    <br>
                    <h3><span style="color:white">{{empresa.horarioDeAtencion}}</span></h3>
                </small>
            </div>

            <form (ngSubmit)="buscar(buscador)" #buscador="ngForm" class="mt-3" style="float: left">
                <input type="text" name="termino" ngModel>
                <button class="btn btn-light ml-2" type="submit">Buscar</button>
            </form>

        </div>
    </div>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" *ngIf="noticias.length>0">

    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="https://i.ibb.co/0Xj7S9s/ultimanoticia.png" class="d-block w-100" alt="Inicio">
      </div>

      <div class="carousel-item"*ngFor="let noticia of noticias">
        <img src="{{noticia.imagenNoticia}}" class="d-block w-100" alt="Imagen {{noticia.tituloDeLaNoticia}}">
      </div>
      
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    <div class="contenedor-quienesSomos mt-4 ml-5">
        <h3>QUIENES SOMOS</h3>
        <div class="cuerpo-quienesSomos">
            {{empresa.quienesSomos}}
        </div>
    </div>

    <div class="contenedor-dondeEstamos mt-4 ml-5">
        <h3>DONDE ESTAMOS</h3>

        <div id="mapbox-mapa"></div>

        <div class="location" ml-5>
            <h3 class="txt-clr1" style="color:black">
                
                    {{empresa.denominacion}}
                
            </h3>
            <address>
                <dl>
                    <dt >Telefono: </dt>
                    <dd class="phone" style="color:black"><a href="callto:#"> {{empresa.telefono}}</a></dd>
                </dl>
                <dl>
                    <dt>Domicilio: </dt>
                    <dd style="color:black">{{empresa.domicilio}}</dd>
                </dl>
                <dl>
                    <dt> E-mail: </dt>
                    <dd style="color:black"><a href="mailto:#">{{empresa.email}}</a></dd>
                </dl>
            </address>

        </div>




    </div>



    <pre>
        {{empresa | json}}
    </pre>
<p>-------------------------</p>
    <pre>
        {{noticias | json}}
    </pre>

</body>