<div class="add-news-content">
  <div class="container">
    
    <div *ngIf="idAux===0 else update">
      <h3 class="new-news-title">Create News</h3>
    </div>
    <ng-template #update>
      <h3 class="new-news-title">Update News</h3>
      <br> 
      <label class="news-title">Enterprise</label>
      <h6 class="new-news-title">{{noticia.empresa.denominacion}}</h6>
      <br> 
  </ng-template>
    <hr>
    <div class="form-group">
      <label class="news-title">Select enterprise</label>
      <select name="miselect" [(ngModel)]="seleccionado">
      <option [value]="empresa" *ngFor="let empresa of empresas">{{empresa.denominacion}}</option>        </select>
    </div>
    <form [formGroup]="tinyForm" (ngSubmit)="addNews()">
      
      <div class="form-group">
        <label class="news-title">Title</label>
        <input  type="text" [formControlName]="'title'" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label class="news-title">Image</label>
        <input type="text" [formControlName]="'imageURL'" class="form-control" placeholder="Url">
      </div>
      <div class="form-group">
        <label class="news-title">Content</label>
        <editor apiKey=1o6v69xl8r9l0px050uatww4ohflwiackbpjoegjj9dhlnna [formControlName]="'content'" [init]="{plugins: 'code'}"></editor>
      </div>
      <div class="form-group">
        <label class="news-title">Summary</label>
        <textarea class='form-control' rows="3" [formControlName]="'summary'"></textarea>
      </div>
      <div class="form-group">

        <button *ngIf="idAux===0 else updateNews" type="submit" class="btn btn-primary">Post</button>
        <ng-template #updateNews>
       
          <button type="submit" class="btn btn-primary">Update</button>
      </ng-template>
      </div>
    </form >
  </div>
</div>
